<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EVEInventionCalc.Properties.Settings.DataDumpConnectionString"
            connectionString="Data Source=OSIRIS\SQLEXPRESS;Initial Catalog=DataDump;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="EVEInventionCalc.Properties.Settings.DataDumpConnectionString1"
            connectionString="Data Source=OSIRIS\SQLEXPRESS;Initial Catalog=DataDump;Persist Security Info=True;User ID=readonly;Password=gh45iop"
            providerName="System.Data.SqlClient" />
        <add name="EVEInventionCalc.Properties.Settings.RawEvePricesConnectionString"
            connectionString="Data Source=OSIRIS\SQLEXPRESS;Initial Catalog=RawEvePrices;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>