<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <connectionStrings>
    <add name="EVEInventionCalc.Properties.Settings.DataDumpConnectionString"
        connectionString="Data Source=OSIRIS\SQLEXPRESS;Initial Catalog=DataDump;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    <add name="EVEInventionCalc.Properties.Settings.DataDumpConnectionString1"
        connectionString="Data Source=OSIRIS\SQLEXPRESS;Initial Catalog=DataDump;Persist Security Info=True;User ID=readonly;Password=gh45iop"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net>
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <target value="Console.Error" />
      <layout type="log4net.Layout.PatternLayout" >
        <conversionPattern value="%date [%-5level] %property{App} - %message%newline" />
      </layout>
      <mapping>
        <level value="FATAL" />
        <foreColor value="Red" />
        <backColor value="White" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Green" />
      </mapping>
    </appender>


    <root>
      <level value="ALL" />
      <appender-ref ref="ColoredConsoleAppender" />
    </root>
  </log4net>
</configuration>